/* Core: */

.wikibrowser-host {
	overflow-x: scroll;
	overflow-y: hidden;
	position: fixed;
	top: 41px;
	left: 0;
	right: 0;
	bottom: 0;
	white-space: nowrap;
}

.wikibrowser-page-host {
	position: relative;
	width: 600px;
	height: 100%;
	display: inline-block; /* So that they are positioned side by side */
	white-space: normal;
	padding-right: 30px;
}

.wikibrowser-page-host:after {
	position: absolute;
	display: block;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	width: 20px;
	border-left: 1px solid #CCC;
	background: -moz-linear-gradient(left,  rgba(238, 238, 238, 1.0) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(238, 238, 238, 1.0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(238, 238, 238, 1.0) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(238, 238, 238, 1.0) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(238, 238, 238, 1.0) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(238, 238, 238, 1.0) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a63f2828', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

.wikibrowser-page {
	height: 100%;
	/* Requirements for perfect-scrollbar: */
	position: relative;
	overflow: hidden;
}

/* Header: */

.wikibrowser-header {
	border-bottom: 1px solid #CCC;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
	background-color: #eee;
	color: #300;
	font-family: Georgia, Times, 'Times New Roman', serif;	
}

.wikibrowser-header a, .wikibrowser-header a:hover, .wikibrowser-header a:visited {
	color: #300;
}

.wikibrowser-header h1 {
	font-variant: small-caps;
	font-size: 26px;
	margin-left: 53px;
	padding-top: 4px;
	display: inline-block;
}

.wikibrowser-header .right-align {
	display: inline-block;
	float: right;
	margin-right: 53px;
	padding-top: 12px;
}

.wikibrowser-header .divider {
	padding-left: 1em;
	padding-right: 1em;
}

/* Search column: */

.wikibrowser-search-content {
	margin: 50px 0 0 30px;
}

.wikibrowser-search-content input {
	width: 420px;
	font-size: 1.4em;
	line-height: 140%;
	padding: 6px;
	border: 1px solid #ccc;	
	margin: 0 0 6px 0;
}

.wikibrowser-search-content button {
	font-size: 1.2em;
	line-height: 140%;
	color: #fff;
	margin: 0 0 2em 0;
}

.wikibrowser-go-button {
	background-color: #a00;
}

.wikibrowser-search-button {
	background-color: #00a;
}

.wikibrowser-search-results {
	list-style: none;
	list-style-position: inside;
	text-align: left;
	font-size: 1.2em;
	line-height: 140%;
	border: 1px solid #ccc;
	width: 450px;
	margin: 1em 0 0 0;
	padding: 0;
}

.wikibrowser-search-results li {
	cursor: pointer;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
}

.wikibrowser-search-results li:hover {
	background-color: #eee;
}