.wikibrowser-page {
	width: 600px;
	height: 100%;
	overflow-y: scroll;
	display: inline-block; /* So that they are positioned side by side */
	white-space: normal;
}

.wikibrowser-host {
	overflow-x: scroll;
	overflow-y: hidden;
	position: fixed;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	white-space: nowrap;
}